.accordion-section {
	> header {
		padding: .5rem 1rem;

		&.open {
			background: #eee;
		}

		span {
			float: right;
		}

		&:after {
			content: "";
			clear: both;
			display: table;
		}
	}

	> section {
		padding: 0 1rem .5rem;
	}
}